body {
    font-family: Arial, sans-serif;
}
/* table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
} */
 
#back_homepage_button {
    background-color: #0360c4; /* Blue background */
    color: white; /* White text color */
    font-size: 16px; /* Font size */
    padding: 12px 24px; /* Padding around the text */
    border: none; /* Remove default border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

#back_homepage_button:hover {
    background-color: #002853; /* Darker blue when hovered */
    transform: translateY(-2px); /* Slight lift effect */
}

#back_homepage_button:active {
    background-color: #004085; /* Even darker blue when pressed */
    transform: translateY(0); /* Reset lift effect */
}

#back_homepage_button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5); /* Custom focus ring */
}


/* Style for the select element (dropdown) */
#group-select-page2,
#select_bad_type {
    appearance: none; /* Remove default dropdown arrow in most browsers */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ccc; /* Light gray border */
    border-radius: 8px;
    background-color: #909fc3; 
    color: #333; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#select_bad_type {
    width: 250px
}

#group-select-page2{
    width: 610px
}


#group-select-page2:hover,
#select_bad_type:hover {
    border-color: #888; /* Darker border on hover */
}

#group-select-page2:focus,
#select_bad_type:focus {
    border-color: #008CBA; /* Blue border on focus */
    outline: none;
}

/* Custom dropdown arrow */
#group-select-page2::-ms-expand,
#select_bad_type::-ms-expand {
    display: none; /* Remove default dropdown arrow in IE */
}


#group-select-page2 option,
#select_bad_type option {
    padding: 10px;
    background-color: #f9f9f9; /* Light background for options */
    color: #333;
    font-size: 16px;
}

/* Hover effect for options */
#group-select-page2 option:hover,
#select_bad_type option:hover {
    background-color: #dcdcdc; /* Slightly darker gray on hover */
}


#loading2 {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    color: white; 
}